.toolbar-el{
    margin-left:0px; 
    margin-right:-25px;
    padding:0px;
}
  
.btn-tool {
    background-color:#eff5ffff;
    border-style:none;
    margin: 0px 0px 0px 5px;
    padding: 0px;
}


.btn-tool:hover {
    background-color:#dae8ffff;
    border-style:none;
}


.btn-active {
    background-color:#d9e7feff;
    border-style:none;
    margin: 0px 0px 0px 5px;
    padding: 0px;
}

.btn-active:hover {
    background-color:#dae8ffff;
    border-style:none;
}

.btn-icon{
  height: 28px;
  width: 28px;
  margin-top: 5px;
  vertical-align: middle;
  display: block;
}
.toolbar{
  position:absolute; 
  left: 0px; 
  height:40px; 
  line-height:40px;
  background-color: #eff5ffff
}

.separator{
  display:inline-block;
  color:#dae8ffff; 
  font-size:26px; 
  height: 28px;
  margin-left:0.25em;
  margin-right:0.25em;
  margin-top: 0em;
  padding: 0px;
  vertical-align: top;
}

.div-btnDisable{
  background-color:#eff5ffff; 
  opacity: 25%; 
  display:inline-block; 
  height: 32px; 
  width: 32px;
}

label{ display: table-cell; 
      text-align: left;
      vertical-align: middle; 
      width:140px;
} 

.selectize-input{
  margin-top: 5px;
  vertical-align: middle;
}

.input-row{
  border-style:none; 
  position:absolute;
  left:650px; 
  width: 450px; 
  margin-top:1.7em;
}

.form-control{
 width: 200px;
}

.shiny-input-container>div>select:not(.selectized) {
  width: 200px;
}
.form-group { display: table-row;}